@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Exo:wght@300;600&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Exo:wght@300;600&family=Montserrat&family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Templates */

:root {
  --black: #1F1F1F;
  --gray: #363636;
  --red: #FF5252;
  --white: #FFFFFF;
  --shadow: rgba(255, 82, 82, 0.5);

  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.title {
  font-family: 'Aclonica', sans-serif;
  font-size: 2em;
}

.subtitle {
  font-family: 'Aclonica', sans-serif;
  font-size: 1.75em;
  color: var(--white);
}

.contrast {
  font-family: 'Aclonica';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 32px;
  color: var(--red)
}

.text {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  color: var(--white);
  text-align: justify;
}

.text2 {
  font-family: 'Aclonica';
  font-weight: 400;
  font-size: 1em;
}

.btn {
  height: 2.5em;
  font-size: 1em;
  line-height: 18px;
  border-radius: 10px;
  font-weight: 400;
  font-style: normal;
  border-style: none;
  cursor: pointer;
  font-family: 'Aclonica';
  position: relative;

  color: #181818;
  background: #FF5252;
  box-shadow: 0px 0px 20px rgba(255, 82, 82, 0.5);
}

.btn.bg-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--white);
  border-radius: 10px;
  transition: transform 360ms ease-in-out;
  transform: scaleX(0);
}

.btn:hover::before,
.btn:focus::before {
  transform: scaleX(1);
}

.btn.bg-slide {
  transition: transform 360ms ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 1;
}

.btn.bg-slide:hover,
.btn.bg-slide:focus {
  color: var(--red);
  scale: 1.06;
  transition: all .4s ease-in-out;
}

/* ----------------- */

body {
  background-color: var(--black);
}

header {
  width: 100%;
  height: 5em;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray);
  z-index: 99;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #6764ff; */
}

.logo {
  width: 9em;
  height: auto;
}

.listItems {
  width: 62.5em;
  display: flex;
  list-style: none;
  justify-content: space-between;
  /* background-color: rgb(237, 248, 141); */
}

.listItems a {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
  transition: all .2s ease-in-out;
}

.listItems li {
  transition: all .2s ease-in-out;
}

.listItems a:hover,
.listItems li:hover {
  scale: 1.06;
  transition: all .2s ease-in-out;
  color: var(--red);
  text-shadow: 0px 0px 15px rgba(255, 82, 82, 0.5);
}

#introduction {
  width: 100%;
  display: flex;
  background-image: url("https://i.imgur.com/EdYxVqU.png");
}

.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 40%;
}

.box-hello {
  width: 10.625em;
  height: 3.125em;
  padding: 0.8rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 82, 82, 0.15);
}

.hello {
  color: #FF5252;
}

.emoji {
  width: 2em;
  height: 2em;
  animation: balanco 1s infinite;
}

@keyframes balanco {
  0% {
    transform: rotateZ(-15deg);
  }

  50% {
    transform: rotateZ(20deg);
  }

  100% {
    transform: rotateZ(-15deg);
  }
}

.p {
  padding-top: 3rem;
  color: var(--white);
  text-shadow: 4px 4px 40px rgba(255, 82, 82, 0.3);
}

.s {
  padding-top: 1rem;
  color: var(--red);
  text-shadow: 4px 4px 40px rgba(255, 82, 82, 0.3);
}

.left p {
  padding-top: 3rem;
}

.avatar {
  width: 30em;
  height: 30em;
  /* width: 33%;
  height: 60%; */
}

.hr {
  height: 0.2em;
  border: none;
  background: linear-gradient(90deg, #252525 0%, #FF5252 100%);
}

#skills {
  width: 100%;
  height: 26em;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.hrs {
  height: 0.2em;
  border: none;
  margin-top: 0.5rem;
  background-color: var(--red);
}

.hr1 {
  width: 10.3em;
}

.hr2 {
  width: 5em;
}

.box-skills {
  width: 100%;
  height: 15.6em;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.conteiner-skills {
  height: 100%;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--red);
  box-shadow: 0px 0px 20px rgba(255, 82, 82, 0.3);
}

.tools {
  width: 70%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 10em;
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  color: #FFFFFF;
  background: #2F2F2F;
  box-shadow: 0px 0px 10px rgba(255, 82, 82, 0.5);
}

.area {
  width: 25%;
  display: flex;
  align-items: center;
}

.box-area {
  width: 100%;
  height: 8.4em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.box-area-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.area-text {
  width: 95%;
  display: flex;
  padding-bottom: 0.5rem;
  justify-content: space-between;
}

.area-text span {
  color: var(--white);
}

.load {
  width: 18.4em;
  height: 0.4em;
  background: #2F2F2F;
  border-radius: 20px;
}

.load div {
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(90deg, #AB3C3C 0%, #E84646 64.06%, #FF5252 100%);
}

.front {
  width: 90%;
}

.back {
  width: 75%;
}

#projects {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}

.hr3 {
  width: 14em;
}

.hr4 {
  width: 9em;
}

.project-content {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.text-project a{
  margin-top: 1rem
}

.project-content2 {
  display: none;
}

.box-content {
  width: 40%;
  align-items: center;
  display: flex;
}

.link-project {
  width: 100%;
  height: 100%;
}

.img-project {
  height: 100%;
  width: 100%;
}

.text-project {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.text-project button {
  width: 10.5em;
}

.box-see-more {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.see-more {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--red);
  transition: all .2s ease-in-out;
}

.see-more:hover {
  scale: 1.06;
  transition: all .2s ease-in-out;
  color: var(--white);
  text-shadow: 0px 0px 15px rgba(255, 82, 82, 0.5);
}

.hr5 {
  width: 6.8em;
}

#about {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-end {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.left-end {
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.inside {
  margin-top: 3rem;
}

.outline-photo {
  width: 18em;
  height: 18em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(255, 82, 82, 0.5);
  background: linear-gradient(180deg, #7C0303 0%, #FF5252 100%);
}

.perfil-git {
  width: 96%;
  height: 96%;
}

.box-profile {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-profile ul {
  padding-left: 1.5rem;
}

.box-profile li {
  padding-top: 1rem;
}

.right-end {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
}

.right-end button {
  width: 8.75em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  width: 100%;
  height: 8em;
  margin-top: 6rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(31, 31, 31, 0.40) 0%, rgba(88, 44, 44, 0.40) 29.17%, rgba(141, 56, 56, 0.40) 64.58%, rgba(255, 82, 82, 0.40) 100%);
}

@media(max-width: 1560px) {
  .wrapper {
    max-width: 1360px;
  }

  .avatar {
    width: 27em;
    height: 27em;
  }

  .title {
    font-size: 1.8em;
  }

  .subtitle {
    font-size: 1.6em;
  }

  .contrast {
    font-size: 1.4em;
  }

  .card {
    width: 10em;
  }

}

@media(max-width: 1440px) {
  .wrapper {
    max-width: 1240px;
  }

  .outline-photo {
    width: 16em;
    height: 16em;
  }

  .btn {
    height: 2.3em;
  }

  .card {
    width: 9em;
  }
}

@media(max-width: 1270px) {
  .wrapper {
    max-width: 1080px;
  }

  .listItems {
    width: 50em;
  }

  .logo {
    width: 8em;
  }

  .title {
    font-size: 1.7em;
  }

  .subtitle {
    font-size: 1.6em;
  }

  .contrast {
    font-size: 1.3em;
  }

  .card {
    width: 7.8em;
    height: 3.5em;
  }

  .tool-img {
    width: 1.8em;
    height: 1.8em;
  }

  .tool-name {
    font-size: 0.9em;
  }

  .load {
    width: 14.4em;
  }

  .text-project button {
    margin-top: 0.8rem;
  }

  .box-profile {
    width: 55%;
  }
}

@media(max-width: 1100px) {
  .wrapper {
    max-width: 950px;
  }

  .avatar {
    width: 24em;
    height: 24em;
  }

  .title {
    font-size: 1.6em;
  }

  .subtitle {
    font-size: 1.5em;
  }

  .contrast {
    font-size: 1.2em;
  }

  .listItems {
    width: 44em;
  }

  #skills {
    height: 30em;
  }

  .box-skills {
    height: 21.6em;
  }

  .tools {
    justify-content: left;
  }

  .card {
    margin-left: 1rem;
  }

  .load {
    width: 12em;
  }

  .text-project {
    width: 43%;
  }

  .box-profile {
    width: 54%;
  }

  .outline-photo {
    width: 15em;
    height: 15em;
  }
}

@media(max-width: 1024px) {

  .wrapper {
    max-width: 900px;
  }

  .icon {
    height: 2.5em;
    width: fit-content;
    cursor: pointer;
  }

  .hamburguer {
    width: 1.6em;
    height: 0.3em;
    top: 50%;
    right: 6%;
    position: absolute;
    transition: 0.5s;
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .hamburguer::before {
    width: 2em;
    height: 0.3em;
    top: -12px;
    content: '';
    position: absolute;
    transition: 0.5s;
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .hamburguer::after {
    width: 2em;
    height: 0.3em;
    top: 12px;
    content: '';
    position: absolute;
    transition: 0.5s;
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .icon.iconActive .hamburguer {
    background: transparent;
    box-shadow: 0 2px 5px transparent;
  }

  .icon.iconActive .hamburguer:after {
    top: 0;
    background: var(--red);
    transform: rotate(225deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .icon.iconActive .hamburguer:before {
    top: 0;
    background: var(--red);
    transform: rotate(135deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .menu .listItems {
    width: 100%;
    height: 0px;
    top: 10vh;
    right: 0;
    max-height: 50vh;
    border-radius: 1em;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #363636;
    transition: 1s;
    visibility: hidden;
    overflow-y: hidden;
  }

  .menuOpen .listItems {
    display: flex;
    height: calc(100vh - 70px);
    transition: 1s;
    visibility: visible;
    overflow-y: auto;
  }

  .listItems li {
    width: 85%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(88, 88, 88, 0.459);
  }

  .title {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 1.4em;
  }

  .contrast {
    font-size: 1.1em;
  }

  .tools {
    justify-content: space-between;
  }

  .card {
    width: 7em;
  }

  .tool-name {
    font-size: 0.8em;
  }

  .box-profile {
    width: 50%;
  }

  .right-end button {
    width: 7.5em;
  }
}

@media(max-width: 920px) {
  .wrapper {
    max-width: 800px;
  }

  .box-hello {
    width: 10em;
    height: 2.6em;
  }

  .title {
    font-size: 1.3em;
  }

  .text2 {
    font-size: 0.9em;
  }

  .load {
    width: 10.5em;
  }

  #projects {
    margin-top: 6rem;
  }

  .project-content {
    margin-top: 4.5rem;
  }

  .card {
    width: 7em;
    margin-left: unset;
  }

  .outline-photo {
    width: 13em;
    height: 13em;
  }

  .left-end {
    width: 69%;
  }

  .box-profile {
    width: 58%;
  }

  .text {
    font-size: 0.9em;
  }
}

@media(max-width: 810px) {
  .wrapper {
    max-width: 750px;
  }

  .text-project button {
    width: 9.5em;
  }

  .outline-photo {
    width: 12.5em;
    height: 12.5em;
  }

  .right-end button {
    width: 6.7em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .emoji {
    width: 1.7em;
    height: 1.7em;
  }

  .left p {
    padding-top: 1.5rem;
  }

  .avatar {
    width: 22em;
    height: 22em;
  }

}

@media(max-width: 768px) {
  .wrapper {
    max-width: 700px;
  }

  .avatar {
    width: 20em;
    height: 20em;
  }

  .left {
    width: 45%;
  }

  .title {
    font-size: 1.3em;
  }

  .subtitle {
    font-size: 1.2em;
  }

  .contrast {
    font-size: 1.1em;
  }

  .card {
    width: 8em;
  }

  .load {
    width: 9.5em;
  }

  .right-end {
    width: 21%;
  }

  .box-profile {
    width: 55%;
  }
}

@media(max-width: 700px) {
  .wrapper {
    max-width: 600px;
  }

  .avatar {
    display: none;
  }

  .left {
    width: 100%;
  }

  .load {
    width: 7.5em;
  }

  .card {
    width: 7em;
  }

  .left-end {
    flex-direction: column;
  }

  .box-profile {
    margin-top: 2rem;
    width: 94%;
  }
}

@media(max-width: 620px) {
  .wrapper {
    max-width: 550px;
  }
}

@media(max-width: 560px) {
  .wrapper {
    max-width: 500px;
  }

  .load {
    width: 6.6em;
  }

  .text2 {
    font-size: 0.8em;
  }

}

@media(max-width: 500px) {
  .wrapper {
    max-width: 400px;
  }

  .box-hello {
    width: 9em;
  }

  #skills {
    height: unset;
  }

  .box-skills {
    flex-direction: column;
    margin-top: 2rem;
    height: unset;
  }

  .tools {
    width: 100%;
    height: 20em;
  }

  .area {
    margin-top: 2rem;
    width: 100%;
  }

  .box-area {
    height: 8em;
    justify-content: space-evenly;
  }

  .load {
    width: 14.6em;
  }

  .hr1 {
    width: 7.3em;
  }

  .project-content {
    display: none;
  }

  .project-content2 {
    display: flex;
    flex-direction: column;
  }

  .box-content {
    width: 100%;
  }

  .text-project {
    width: 100%;
    margin-bottom: 2rem;
  }

  .box-content {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .inside {
    flex-direction: column;
  }

  .left-end {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .right-end {
    width: 100%;
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media(max-width: 440px) {
  .wrapper {
    max-width: 300px;
  }

  .tools {
    height: 22em;
  }

  .logo {
    width: 7em;
  }

  .hamburguer {
    right: 16%;
  }

  .txt-btn {
    display: none;
  }

  .right-end button {
    width: 4em;
  }
}

@media(max-width: 340px) {
  .wrapper {
    max-width: 280px;
  }

  .tool-img {
    width: 2em;
    height: 2em;
  }

  .text2 {
    font-size: 1em;
  }

  .card {
    width: 8em;
    height: 3em;
  }

  .tools {
    height: 50em;
    justify-content: center;
    align-items: normal;
  }

  .box-hello {
    width: 10em;
  }

  .text2 {
    font-size: 0.9em;
  }
}

@media(max-width: 310px) {
  .wrapper {
    max-width: 260px;
  }
}